ErrorDocument 404 /myhope/404_not_found/index.html

<If "%{REQUEST_URI} =~ m#^/myhope/wp\-sitemap\-index\.xsl#i">
  ForceType "application/xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/comments/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/wp\-json/#i">
  ForceType "application/json; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/wp\-sitemap\.xsl#i">
  ForceType "application/xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/sample\-page/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/wp\-json/wp/v2/pages/2#i">
  ForceType "application/json; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/2022/10/19/hello\-world/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/author/root/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/wp\-json/wp/v2/posts/1#i">
  ForceType "application/json; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/category/uncategorized/feed/#i">
  ForceType "application/rss+xml; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/wp\-json/wp/v2/categories/1#i">
  ForceType "application/json; charset=UTF-8"
</If>

<If "%{REQUEST_URI} =~ m#^/myhope/wp\-json/wp/v2/users/1#i">
  ForceType "application/json; charset=UTF-8"
</If>
